<div class="col-xs-12 col-sm-6 col-md-8">
  <h3>Etsi pysäkki</h3>
  <label for="stop-id">Anna pysäkin koodi</label>
  <input type="text" name="stop-id" id="stop-id" placeholder="1251" />
  <button class="btn btn-primary" id="find-stop">Hae</button>
</div>