{{#if showButton}}
<div class="col-xs-12 col-sm-12">
  <h3>Käytkö usein tällä pysäkillä?</h3>
  <p>Jos käyt pysäkillä lähes päivittäin, voit ryhtyä sen kummiksi.</p>
  <p>Pysäkkikummin velvollisuutena on...</p>
  <ul>
    <li>Tarkkailla pysäkin kuntoa</li>
    <li>Raportoida jos jotain on pielessä</li>
  </ul>
  <p>Kummina autat pitämään kaupunkimme paremmassa kunnossa.</p>
  
  <button id="adopt-stop" type="button" class="btn btn-primary">Ryhdy pysäkin kummiksi</button>
  <div id="adopt-form" class="hidden">
    <div class="form-group">
      <label for="email">Sähköpostiosoitteesi</label>
      <input type="email" name="email" id="email" placeholder="" />
      <button id="adopt-send" type="submit" class="btn btn-default">Lähetä</button>
    </div>
  </div>
</div>
{{/if}}