<div class="col-xs-12 col-sm-12">
  <h2>Mitä pysäkille kuuluu?</h2>
  <button type="button" class="btn btn-success" id="report-ok">Pysäkillä on kaikki OK</button>
  <button type="button" class="btn btn-danger" id="report-problem">Pysäkillä on ongelma</button>
</div>