<div id="report-stop-name"></div>

<form role="form" id="report-form">
  <fieldset>
    <p>Valitse vaihtoehdoista sopivin ja kuvaile ongelmaa muutamalla sanalla.</p>
    <div class="form-group">
      <label for="service_code_201">Ongelma</label>
      {{#each services}}
      <div class="radio">
        <label>
          <input type="radio" name="service-code" id="service_code_{{id}}" value="{{id}}" />
          {{name}}
        </label>
      </div>
      {{/each}}
    </div>

    <div class="form-group">
      <label for="description">Mikä on pielessä?</label>
      <textarea name="description" id="description" class="form-control" rows="3"></textarea>
      <span class="help-block" id="char-count"></span>
    </div>

    <div class="form-group hidden">
      <label for="image-picker">Ota kuva</label>
      <input id="image-picker" type="file" accept="image/*" />
    </div>

    <p>Tarvitsemme myös nimesi. Anna lisäksi sähköpostiosoitteesi, jos haluat kuittauksen kun olemme käsitelleet ilmoituksesi.</p>

    <div class="form-inline form-group">
      <div class="form-group">
        <label for="firstname">Etunimi</label>
        <input type="text" id="firstname" name="firstname" class="form-control" required />
      </div>
      <div class="form-group">
        <label for="lastname">Sukunimi</label>
        <input type="text" id="lastname" name="lastname" class="form-control" required />
      </div>
    </div>

    <div class="form-group">
      <label for="email">Sähköposti (jos haluat kuittauksen)</label>
      <input type="email" id="email" class="form-control" />
    </div>

    <button id="send-report" type="submit" class="btn btn-default" disabled="disabled">Lähetä</button>
  </fieldset>
</form>

<div id="report-sent" class="hidden">
  <p class="text-success">Viestisi on lähetetty!</p>
  <button type="button" class="btn btn-default" id="report-back">Takaisin</button>
</div>

<div id="report-error" class="hidden">
  <p class="text-warning">Viestin lähettäminen epäonnistui.</p>
  <button type="button" class="btn btn-default" id="report-back">Takaisin</button>
</div>