<div class="row" id="name"></div>

<div class="row" id="stop-users-container" style="display: none">
  <div class="col-xs-12 col-sm-12">
    <h3>Pysäkin kummit</h3>
    <div id="stop-users"></div>
  </div>
</div>
<div class="row" id="stop-report-status"></div>
<div class="row" id="stop-reports-container"></div>
<div class="row" id="stop-ask-adoption"></div>
<div class="row">
  <div id="stop-info-teaser" class="col-xs-12 col-sm-6 col-md-8"></div>
</div>