<div class="hero-unit">
  {{#if name}}
  <h1>{{name}}</h1>
  <p class="info">{{address}}, {{city}}</p>
  {{else}}
  <p>Ladataan pysäkin tietoja...</p>
  {{/if}}
</div>

{{#if name}}
<div class="row">
  <div class="col-xs-12 col-sm-12">
    <h2>Mitä pysäkille kuuluu?</h2>
    <button type="button" class="btn btn-success" id="report-ok">Pysäkillä on kaikki OK</button>
    <button type="button" class="btn btn-danger" id="report-problem">Pysäkillä on ongelma</button>
  </div>
</div>
{{/if}}