<div class="row" id="name"></div>


<div class="row">
  <div class="col-xs-12 col-sm-12">
    <button id="adopt-stop" type="button" class="btn btn-primary">Ryhdy pysäkin kummiksi</button>
    <div id="adopt-form" class="hidden">
      <div class="form-group">
        <label for="email">Sähköpostiosoitteesi</label>
        <input type="email" name="email" id="email" placeholder="" />
        <button id="adopt-send" type="submit" class="btn btn-default">Lähetä</button>
      </div>
    </div>
  </div>
</div>
<div class="row" id="stop-users-container" style="display: none">
  <div class="col-xs-12 col-sm-12">
    <h3>Pysäkin kummit</h3>
    <div id="stop-users"></div>
  </div>
</div>
<div class="row" id="stop-report-status"></div>
<div class="row" id="stop-reports-container"></div>