<div class="hero-unit">
	<h1>Pysäkkikummi</h1>
	<ol>
		<li>Adoptoi HSL:n pysäkki</li>
		<li>Käy aika ajoin katsomassa mitä pysäkille kuuluu</li>
		<li>Kerro meille jos jotain on vialla</li>
		<li>???</li>
		<li>Profit!</li>
	</ol>
	
</div>
<div class="row">
	<div class="col-xs-12 col-sm-6 col-md-8">
		<label for="stop-id">Anna pysäkin koodi</label>
		<input type="text" name="stop-id" id="stop-id" placeholder="1251" />
		<button class="btn btn-primary" id="find-stop">Hae</button>

		{{#if geoLocation}}
		<div id="position">
			<h2>Lähistön pysäkit</h2>
			<p id="loading-stops">Ladataan...</p>
			<ul id="stops"></ul>
		</div>
		{{/if}}
	</div>
</div>