<div class="hero-unit">
	<h1>Pysäkkikummi</h1>
	<span>Alpha</span>
</div>

<div class="row" id="welcome-info-teaser"></div>
<div class="row" id="welcome-nearby"></div>
<div class="row" id="welcome-search"></div>